/* MOBILE SIZE */
.main-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 50px;
}

.select-container {
  padding: 15px;
  background-color: rgb(153, 132, 175);
  width: max-content;
}

.filter-btn {
  margin: 2rem;
}

.render-data {
  display: block;
  margin: 100px 250px;
  text-align: left;
  padding: 15px;
  border: 2px solid #852c88;
  margin: 0;
}

/* MEDIUM SCREEN */

/* LARGE SCREEN */

/* LARGER SCREEN */
