/* MOBILE SIZE */
.page-container {
  background-image: none;
  background-image: url("../images/paraguas.png");
}

.register-container {
  margin-top: -150px;
  height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

#btn-register {
  margin-top: 20px;
}

/* MEDIUM SCREEN */
@media (min-width: 800px) {
  .page-container {
    padding: 50px;
    padding-top: 150px;
    min-height: 1024px;
  }
}

/* LARGE SCREEN */
@media (min-width: 1200px) {
  .page-container {
    min-height: 1250px;
    padding-bottom: 1px;
    padding-top: 0;
  }

  .login-card {
    background: transparent;
    border: 1px solid #444343;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px #414040;
    padding-bottom: 50px;
    border-radius: 10px;
  }

  .title-register {
    font-size: 2.8rem;
    color: #4a0a6a;
    margin-top: 100px;
  }
}

/* LARGER SCREEN */
@media (min-width: 1500px) {
}
