#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

.btn-color {
  background-color: #5D2063;
  border-radius: 20px;
  border: #5D2063;
  width: 160px;
  height: 45px;
  color: #ffff;  
}   

/*pendiente la seleccion del color para el hover de los botones*/
.btn-color:hover {
  background: #e22382;
  color: #ffff;
}

.selectors {
  margin: 30px 80px;
}

.select {
  /* display: flex; */
  gap: 25px;
  margin-top: 20px;
  
}

.data-container {
  display: inline-block;
  margin-top: 20px;
  padding: 20px;
}

.render {
  display: block;
  margin: 100px 250px;
  text-align: left;
}

.btn-admin {
  margin-top: 50px;
}

.question-card {
  margin: 100px auto;
  padding: 50px;
}
