* {
  box-sizing: border-box;
  cursor: url(https://cur.cursors-4u.net/games/gam-4/gam327.cur), auto !important; 
    /* cursor: url(https://cur.cursors-4u.net/others/oth-8/oth737.cur), auto !important;  */
    /* End https://www.cursors-4u.com======
    /* Start https://www.cursors-4u.com */   
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */


@media (min-width: 768px){
.container, .container-md, .container-sm {
    max-width: 100%};
}
