/* MOBILE SIZE */
.token-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../styles/images/cloud-stars2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 1550px;
  width: auto;
  background-color: #6971a1;
}

.btn-info-container {
  padding-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-info-token {
  margin: 1rem 0rem;
}

.btn-info-token:hover {
  background: #5d2063;
  color: #ffffff;
}

.btn-info-text {
  font-size: 20px;
  padding: 0 35px;
  text-align: justify;
}

.logo-token {
  height: 330px;
  margin: 4rem 0;
  z-index: 1;
} 

.box-tokens-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  height: 500px;
  width: 350px;
  background-color: #d6dff97e;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.radio-token-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}

.btn-add {
  margin: 1.5rem;
}

.btn-token-navigation-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  padding-bottom: 20px;
}

.btn-token-navigation, .btn-info-token {
  color: #434343;
  background-color: #bec2d3;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  font-size: 24px;
}

/* MEDIUM SCREEN */
@media (min-width: 800px) {
  .token-container {
    height: 1650px;
  }
  
  .logo-token {
    height: 500px;
  }
  
  .btn-info-text {
    font-size: 25px;
    padding: 0 15rem;
  }
}

/* LARGE SCREEN */
@media (min-width: 1200px) {
  .token-container {
    height: 1950px;
  }

  .logo-token {
    height: 700px;
  }
  
  .btn-info-text {
    font-size: 30px;
    padding: 0 15rem;
  }
}

/* LARGER SCREEN */
@media (min-width: 1500px) {
  .btn-info-text {
    font-size: 25px;
    padding: 0 25rem;
  }
}
