.user-container {
  background-image: url("../styles/images/cloud-stars.jpg");
  background-size: cover;
  /* background-color: #bc99d192; */
  border-radius: 20px;
  border: 5px solid #e2f69e;
  /* padding-top: 50px; */
  font-size: 25px;
  color: #4a0a6a;
  /* min-height: 100vh; */
}

.user-title {
  font-size: 3rem;
  color: #852c88;
}

.main-row {
  padding-top: 150px;
  /* background-color: #d3ade17e; */
  background-color: #b4e2ff70;
  border-radius: 10px;
}

.first-col {
  width: 60vw;
  /* background-color: #dabffc8d;
  border-radius: 50px; */
  padding-bottom: 50px;
}

.user-label {
  margin: 1.5rem 0;
}

.user-input,
.user-select,
.user-label {
  width: 500px;
  height: 45px;
}

.user-input,
.user-select {
  border: 1px solid #852c88;
  border-radius: 5px;
}

.second-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 20px;
}

.logo2 {
  width: 640px;
  height: 618px; 
  padding-bottom: 20px;
}
