.user-container {
  background-image: url("../styles/images/cloud-stars.jpg");
  background-size: cover;
  border-radius: 20px;
  font-size: 25px;
  color: #4a0a6a;
  min-height: 100vh;
}

.user-title {
  font-size: 3rem;
  padding-top: 2rem;
  color: #852c88;
}

.main-row {
  padding-top: 150px;
  border-radius: 10px;
}

.first-col {
  width: 60vw;
  padding-left: 3rem;
  padding-bottom: 50px;
}

.user-label {
  margin: 1.5rem 0;
  color:#852c88;
  background-color: #f0f8ff3e;
}

.user-input,
.user-select,
.user-label {
  width: 500px;
  height: 45px;
}

.user-input,
.user-select {
  border: 1px solid #852c88;
  border-radius: 5px;
}

.second-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 20px;
}

.logo2 {
  width: 640px;
  height: 618px; 
  margin-right: 20rem;
  padding-bottom: 20px;
}

.code-container {
  margin-right: 20rem;
}
