.main-cart {
  background-color: #da8e2b;  
}

.main-cart-items {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.product {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls-button, .controls-input {
  font-size: 25px;
  padding: 5px 20px;
  margin: 0 10px;
  
  border-radius: 10px;
}

.controls-button:hover {
  border-color: aqua;
  cursor: url(https://cur.cursors-4u.net/others/oth-8/oth737.cur), auto !important; 
}

.controls-input {
  width: 80px;
  text-align: center;
  border-color: aqua;
  font-size: 20px;
}

.img-missions {
  height: 300px;
  border-radius: 20px;
}

.cart {
  padding-top: 100px; 
  display: block;
  margin: 0 auto;
  width: 50%;
  font-size: large;
}
