.results-container {
  margin: 50px auto;
  width: 70%;
  height: fit-content;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 10px 10px 5px 0px #000000bf;
  margin-bottom: 2rem;
  background-color: #d3c1da6e;
}

.header-container {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.header-container p {
  font-size: 20px;
  margin: 30px;
}

.main-title {
  flex-wrap: wrap;
  margin-top: 60px;
  color: #683498;
  font-size: 2.8rem;
}

tbody td.table-warning, td.table-danger {
  width: 400px;
  text-align: left;
}

.img-result {
  display: block;
  position: absolute;
  z-index: -1;
  top: 120px;
  left: 150px;
  height: 300px;
  margin-left: 50px;
  transform: rotate(-20deg);
}
