/* MOBILE SIZE */
.page-container {
  margin: 0 auto;
  padding: 90px 10px;
  background-image: url("../images/fondo-nubes-blancas-lila.jpg");
  background-size: contain;
  height: 850px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 80%;
}

/* MEDIUM SCREEN */
@media (min-width: 1024px) {
  .page-container {
    background-size: cover;
    padding: 50px;
    padding-top: 150px;
    min-height: 1054px;
  }

  .login-card {
    width: 60%;
    /* width: 500px;
    height: 400px; */
  }

  .btn-google {
    margin: 20px 0;
  }
}

/* LARGE SCREEN */
@media (min-width: 1200px) {
  .page-container {
    /* min-height: 1250px; */
    padding: 0;
  }

  .login-card {
    width: 50%;
    /* width: 900px;
    height: 600px; */
  }

  .title-login {
    font-size: 2.8rem;
    color: #4a0a6a;
    margin-top: 100px;
  }

  .login-container {
    margin: 0 auto;
    width: 60%;
  }

  .btn-login {
    margin-top: 50px;
  }
}

/* LARGER SCREEN */
@media (min-width: 1500px) {
  .login-card {
    width: 40%;
  }
}
