/* MOBILE SIZE */
.page-container {
  margin: 0 auto;
  padding: 40px;
  background-image: url("../images/cloud-stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 850px;
}

.login-card, .register-card {
  margin-top: 100px;
  background-color: #e2d2ffa4;
  padding: 20px 10px;
  border-radius: 15px;
}

.login-card {
  background-color: #d2fffb64;
  margin-top: 50px;
}

.btn-google {
  border-radius: 20px;
  border: #5D2063;
  width: 190px;
  height: 45px;
  color: #3e3e3f; 
  margin: 50px 0;
}

.btn-google:hover {
  background-color: rgb(67, 151, 255);
  color: #fff;
}

.google-icon {
  margin-right: 5px;
  font-size: 19px;
}

/* MEDIUM SCREEN */
@media (min-width: 800px) {
  .page-container {
    display: flex;
    justify-content: center;
    padding-top: 150px;
  }

  .login-card, .register-card {
    width: 400px;
    height: 400px;
  }

  .login-card {
    margin-top: 100px;
  }

  .boxes-container {
    display: flex;
    gap: 20px;
  }

  .btn-google {
    margin: 20px 0;
  }

}

/* LARGE SCREEN */
@media (min-width: 1200px) {
  .page-container {
    min-height: 1250px;
    padding-bottom: 1px;
  }

  .boxes-container {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 40px;
    margin-top: 100px;
    }

  .login-card, .register-card {
    padding: 50px;
    width: 500px;
    height: 400px;
    border-radius: 15px;
  }

  .btn-register {
    margin-top: 30px;
    margin-right: 50px;
  }

  .btn-login {
    margin-top: 10px;
  }

  .buttons {
    /* display: inline-flex; */
    gap: 20px;
  }
}

/* LARGER SCREEN */
@media (min-width: 1500px) {
.boxes-container {
  margin-top: 300px;
  }
}